
/wp-admin/
/wp-includes/


/wp-content/uploads/
/wp-content/cache/
/wp-content/backups/
/logs/

.DS_Store
Thumbs.db
*.log

/wp-content/plugins/*
/wp-content/themes/*


!/wp-content/plugins/elementor/
!/wp-content/plugins/elementor-pro/
!/wp-content/themes/hello-elementor/
!/wp-content/themes/seu-tema-customizado/